<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ermp.model.dao.RoutineDao">
	<select id="selectRoutines" parameterType="Map" resultType="Routine">
		SELECT *
		FROM routine
		WHERE user_id = #{userId} and day = #{day}
	</select>
	
	<insert id="insertRoutine" parameterType="Routine">
		INSERT INTO routine
		VALUES(0,#{userId},#{day}, #{type}, #{goalAmount}, #{achieveAmount},#{unit})
	</insert>
</mapper>